<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='Pizza')}">
</head>
<body>
<h1>Dettagli della pizza</h1>
<hr>
<h2>Nome: </h2>
<h4 th:text="${pizza.nome}"></h4>
<hr>
<h2>Descrizione: </h2>
<h4 th:text="${pizza.descrizione}"></h4>
<hr>
<h2>Prezzo: </h2>
<h4 th:text="${pizza.prezzo} + €"></h4>
<hr>
<img alt="Foto Pizza" th:src="@{${pizza.urlFoto}}">
<hr>
<h2>
    Offerte Speciali
</h2>
<div th:each="offerta : ${pizza.offertaSpeciale}" th:object="${offerta}">
    <span th:text="*{titolo}"></span>
    <div>
        <span>Data Inizio Offerta</span>
        <span th:text="*{dataInizio}"></span>
    </div>
    <div>
        <span>Data Fine Offerta</span>
        <span th:text="*{dataFine}">data fine</span>
    </div>
    <div class="d-flex my-3">
        <a class="btn btn-primary me-1" th:href="@{|/offerta/edit/${offerta.id}|}"><i
                class="fa-solid fa-pen-to-square"></i></a>
        <form method="post" th:action="@{|/offerta/delete/${offerta.id}|}">
            <button class="btn btn-primary me-1" type="submit"><i class="fa-solid fa-trash-can"></i></button>
        </form>
    </div>
</div>
<a class="btn btn-primary me-1" th:href="@{/offerta/create(pizzaId=${pizza.id})}">Aggiungi un'offerta</a>
</body>
</html>