<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Pagina index</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>
            Nome
        </th>
        <th>
            Descrizione
        </th>
        <th>
            Prezzo
        </th>
        <th>
            Foto
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pizza : ${pizza}">
        <td th:text="${pizza.nome}"></td>
        <td th:text="${pizza.descrizione}"></td>
        <td th:text="${pizza.prezzo}"></td>
        <td><img th:src="@{pizza.urlFoto}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>