<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{/fragments/resources :: head(pageTitle='Ingredienti')}">
    </head>
<body>
<div class="container">
    <h1>Ingredienti</h1>
    <hr>

    <div class="row">
        <!-- Lista delle categorie -->
        <div class="col-6">
            <ul class="list-group" th:if="${ingredienti.size > 0}">
                <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                        th:each="ingrediente : ${ingredienti}"
                        th:object="${ingrediente}"
                >
                    <div>
                        <h4 th:text="*{nome}"></h4>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-primary me-1" th:href="@{/ingrediente(edit=*{id})}"><i
                                class="fa-solid fa-pen-to-square"></i></a>
                        <form
                                method="post"
                                th:action="@{|/ingrediente/delete/*{id}|}"
                        >
                            <button class="btn btn-primary" type="submit"><i class="fa-solid fa-trash-can"></i>
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
            <div class="alert alert-info" th:unless="${ingredienti.size > 0}">
                There are no ingredienti
            </div>
        </div>
        <!-- form di creazione/edit della categoria -->
        <div class="col-6">
            <form
                    id="category-form"
                    method="post"
                    th:action="@{/ingrediente/save}"
                    th:object="${ingredientiObj}"
            >
                <input th:field="*{id}" type="hidden">
                <div class="mb-2">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" id="name" th:errorClass="is-invalid" th:field="*{nome}"
                           type="text">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('nome')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>